.searchPage__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 1.875rem;
  border-bottom: 1px solid #ebebeb;
}

@media (max-width: 62rem) {
  .searchPage__header {
    flex-direction: column;
    padding: 1.25rem;
  }
}

.searchPage__logo {
  object-fit: contain;
  height: 30px;
  margin-top: 0.625rem;
  margin-right: 2rem;
  cursor: pointer;
}

@media (max-width: 62rem) {
  .searchPage__logo {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 48rem) {
  .searchPage__logo {
    margin-bottom: 0;
  }
}

@media (min-width: 48rem) {
  .searchPage__headerBody > .search > .search__input {
    width: unset;
    margin: unset;
    max-width: unset;
  }
}

@media (max-width: 48rem) {
  .searchPage__headerBody > .search > .search__input {
    margin: 1.25rem 0 0;
  }
}

.searchPage__menu {
  display: flex;
  align-items: center;
  color: gray;
}

@media (max-width: 48rem) {
  .searchPage__menu {
    display: none;
  }
}

.searchPage__menu a {
  text-decoration: none;
  color: grey;
}

.searchPage__menuLeft,
.searchPage__menuRight {
  display: flex;
}

.searchPage__menuRight {
  margin-left: 80px;
}

.searchPage__menuItem {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

.searchPage__menuItem a {
  margin-left: 5px;
}

.searchPage__results {
  max-width: 650px;
  margin: 1.25rem 0 100px 222px;
}

@media (max-width: 62rem) {
  .searchPage__results {
    margin: 1.25rem auto 100px;
  }
}


.searchPage__resultsCount {
  color: #70757a;
  font-size: 14px;
  margin: 0 1.25rem;
}

.searchPage__result {
  display: flex;
  margin: 2.25rem 1.25rem;
}

.searchPage__resultTopLink {
  text-decoration: none;
  color: #202124;
}

.searchPage__resultTitle {
  text-decoration: none;
}

.searchPage__resultTopLink:hover,
.searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__resultTitle > h2 {
  font-weight: 500;
}

.searchPage__resultSnippet {
  margin-top: 0.625rem;
  color: #4d5156;
}

.searchPage__resultImage {
  object-fit: contain;
  height: 100px;
  width: 176px;
  margin-right: 1.25rem;
}

